*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 0 7%;
}

.btn{
    padding: 12px 15px;
    border-radius: 30px;
}

.silver{
    color: silver;
}